/* Universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header section css  start*/
header{
    position: sticky;
    top: 0;
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.043);
}
.menus{
    display: flex;
    gap: 20px;
}
.menus li  {
    list-style: none;
}
.menus li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    text-transform: capitalize;
}

/* header section css  end */


/* banner section css  start*/

.banner-container{
    background-image:url("asset/image/background.jpg"), linear-gradient(rgb(0, 0, 0),rgb(77, 77, 77));
    background-repeat: no-repeat;
    background-blend-mode:overlay;
    background-position: cover;
    background-position: center;
    height: 100vh;
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    /* padding: 0 100px; */
}
.banner-title{
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.banner-descriptions{
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 20px;
}
span{
    color: red;
}
.banner-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.banner-red-btn{
    padding: 10px 40px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: capitalize;
}
.banner-red-btn:hover{
    background-color: rgb(0, 0, 0);
    transition: .5s; 
}
.banner-white-btn{
    background: none;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    text-transform: capitalize;
}
.banner-white-btn:hover{
    background-color: black;
    transition: .5s;
}

/* banner section css end  */


/* services section css starts  */
.services{
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-transform: capitalize;
    text-align: justify;
    background-image: url("asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.464) ,rgba(0, 0, 0, 0.722));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-position:cover;
    height: 100vh;
    
    
}
.service{
    width: 50vh;
    color: white;
}
.service-holders{
    display: flex;
    align-items: center;
    gap:20px;
    
}
.holder{
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: 2px solid black;
    margin-right: 5px;
    padding-right: 10px;
}
.holder img{
    width:70px;
    border-radius: 50px;
}


.service-content{
    width:100vh;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0 0 0;

}
.card{
    background-color: rgb(222, 222, 222);
    padding: 20px;
    border-radius: 5px ;
    align-items: center;
    text-align: center;

}
.card img{
    width: 100px;
}

/* services section css end  */

.apeinment-section{
    display: flex;
    width: 80%;
    margin:-50px auto;
    padding: 20px;
    align-items: center;
    gap: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
}
.apeinment-consultatons{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
}
.apeinment-consultatons img{
    width: 100px;
}
.apon-discriptions, .apeinment-consultatons{
    color: whitesmoke;
}