/* Universal css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* header section css  start*/
header{
    position: sticky;
    top: 0;
}

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 20px;
}
.menus{
    display: flex;
    gap: 20px;
}
.menus li  {
    list-style: none;
}
.menus li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    text-transform: capitalize;
}

/* header section css  end */


/* banner section css  start*/

.banner-container{
    background-image:url("asset/image/background.jpg"), linear-gradient(rgb(0, 0, 0),rgb(77, 77, 77));
    background-repeat: no-repeat;
    background-blend-mode:overlay;
    background-position: cover;
    background-position: center;
    height: 100vh;
}
.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    /* padding: 0 100px; */
}
.banner-title{
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.banner-descriptions{
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 20px;
}
span{
    color: red;
}
.banner-btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.banner-red-btn{
    padding: 10px 40px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: capitalize;
}
.banner-red-btn:hover{
    background-color: rgb(0, 0, 0);
    transition: .5s; 
}
.banner-white-btn{
    background: none;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    text-transform: capitalize;
}
.banner-white-btn:hover{
    background-color: black;
    transition: .5s;
}

/* banner section css end  */